.menu_navbar {
  .navbar {
    img {
      max-width: 13rem;
    }
  }
  .bgnd-color {
    background-color: #fff !important;
    padding: 0;
    .navbar-collapse {
      bottom: 50px;
      position: inherit;
    }
  }
}
.nav_menu {
  margin-right: 4rem !important;
  .nav-item a {
    color: #545454;
    font-size: 18px;
    font-family: inherit;
    font-weight: 700;
    margin-right: 4rem;
  }
  .nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid #ba567c;
    cursor: pointer;
  }
  .nav-item .nav-link.active {
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 3px solid #ba567c;
  }
  .navbar {
    border-bottom: 1px solid #bbbbbb;
  }
}
